.showingContainer{
     font-size: 90px;
} .showingContainer span{
     color: hsl(259, 100%, 65%);
} .text {
     color: black !important;
     font-style: italic;
     font-weight: 800;
}

@media screen and (max-width: 375px) {
     .showingContainer{
          font-size: 30px;
     }
   }

   @media screen and (min-width: 376px) and (max-width: 830px){
     .showingContainer{
          font-size: 60px;
     }
}